body{
    margin: 0;
}
.main-login{
    width: 100vw;
    height: 100vh;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-left{
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-left, h1{
    color: rgb(255, 255, 255);
}
.login-right{
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-card{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #ffc013;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #ffc013;
}
.login-card, h1{
    color: rgb(94, 94, 94);
    font-weight: 800;
    margin: 0;
}
.textfield{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}
.textfield, input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding:15px;
    background: #ffc013;
    color: white;
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgb(39, 39, 39);
    outline: none;
    box-sizing: border-box;
}
.textfield, label{
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}
.textfield, input::placeholder{
    color: rgb(255, 255, 255);
}
.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
    background: #4d4d4d;
    cursor: pointer;
    box-shadow: 0px 10px 40px -17px #ff000052;
}
@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .login-left, h1{
        display: none;
    }
}