body{
    margin: 0;
}
.main-login{
    width: 100vw;
    height: 100vh;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-left{
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-left, h1{
    color: rgb(121, 0, 190);
}
.login-right{
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-card{
    width: 60%;
}